.basket-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  min-width: 226px;
  min-height: 60px;
  background-color: $green;
  border: none;
  font-family: 'Roboto';
  transition: all .4s;
  cursor: pointer;

  &__svg{
    width: 30px;
    height: 28px;
    fill: white;
    margin-left: 10px;
  }

  &__text{
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
  }

  &:hover{
    background-color: #47B39C;
  }

  &--secondary{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #47B39C;

    &:hover{
      background-color: $green;
    }
  }
}

@media(max-width: 680px){
  .basket-btn{
    padding: 0 15px;
    min-width: 0;

    &__text{
      font-size: 16px;
    }

  }
}

@media(max-width: 540px){
  .basket-btn{
    justify-content: center;
    width: 100%;
    padding: 0 15px;
    min-width: 0;
    border-bottom-right-radius: 10px;
  }
}