.header{
 

  &__logo{
    margin-right: 277px;
  }

  &__top{ 
    padding: 20px 42px 0 44px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
  }

  &__bottom{
    display: flex;
    align-items: center;
    padding: 0 0 30px 44px;
  }

  &__links{
    margin-right: auto;
  }

  &__link + &__link{
    margin-left: 22px;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: #DDE8F0;
      border-radius: 50%;
      left: -13px;
      top: 6px;
    }
  }

  &__languages{
    margin-left: 62px;

  }

  &__catalog{
    margin-right: 15px;
  }

  &__search{
    margin-right: 15px;
  }

  &__user-icons{
    display: flex;
  }

  &__user-icon{
    border-right: none;
  }

  &__user-icon:last-child{
    border-top-right-radius: 10px;
    position: relative;
    border-right: 2px solid $yellow;

    &::after{
      padding-top: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      content: '3';
      position: absolute;
      width: 30px;
      height: 20px;
      top: 3px;
      right: 3px;
      background-color: $yellow;
      border-radius: 18px;
      font-weight: 700;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #33485D;
      transition: all .4s;
    }

    &:hover{
      border-right: 2px solid #47B39C;
      &::after{
        background-color: white;
      }
    }
  }
}

@media(max-width: 1240px){
  .header{
    &__logo{
      margin-right: 50px;
    }
  }
}

@media(max-width: 1060px){
  .header{
    &__links{
      display: none;
    }

    &__logo{
      margin-right: auto;
    }

    &__top{
      padding: 20px 0 0 20px;
    }

    &__bottom{
      padding: 0 0 30px 20px;
    }
  }
}

@media(max-width: 800px){
  .header{
    &__user-icons{
      display: none;
    }
  }
}


@media(max-width: 640px){
  .header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    left: 0;
    box-shadow: 0px 4px 12px rgba(18, 33, 63, 0.05);
    background-color: white;


    &__burger{
      display: block;
    }

    &__bottom{
      padding: 10px 0;
      justify-content: space-between;
    }


    &__top{
      display: none;
    }

    &__search{
      margin-right: 10px;
    }
  }
}