.user-icon{
  cursor: pointer;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCB6D;
  transition: all .4s;
  position: relative;


  &__svg{
    fill: $blue;
    transition: all .4s;
  }


  &__text{
    margin-left: 13px;
    max-width: 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #5C6D7D;
    transition: all .4s;
  }

  &--call{
    padding-left: 19px;
    justify-content: flex-start;
    width: 167px;
  }

  &:hover{
    border: 2px solid #47B39C;
    background-color: #47B39C;

    .user-icon__svg{
      fill: white;
    }

    .user-icon__text{
      color: white;
    }
  }

  &--basket{
    &:hover{
      .basket-menu{
        opacity: 1;
        z-index: 2;
      }
    }
  }
}
